@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
        
}

.root {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.967);
    flex-flow: column nowrap;
    gap: 10px;
    overflow: auto;
    position: relative;
}

.main{
    min-height: 100vh;
    width: 100vw;
    background-image: url('/images/bg1.png');
    background-size: cover;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;

}

.header-title {
    display: flex;
    gap: 12px;
}

.header-title h1 {
    width: 100%;
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -4px;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.header-subtitle h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.75);
}
.newh2 {
    font-size: 60px;
    
    font-weight: 400;
    line-height: 1.4em;
    color: white;
}

.prompt-container {
    place-content: flex-end center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    padding: 0px;
    width: min-content;
}

.prompt-box {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    place-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.546);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 610px;
    max-width: 1200px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    text-align: start;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    text-transform: none;
}

.prompt-box input {
    font-family: 'Manrope', sans-serif;
}


.prompt-box:focus {
    border-color: rgba(255, 255, 255, 0.75)
}


.prompt-buttons {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}

.generate-button {
    place-content: flex-start;
    align-items: flex-start;
    background-color: #F32E98;
    border-radius: 100px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 16px 24px;
    position: relative;
    text-decoration: none;
    width: min-content;
    will-change: transform;
    cursor: pointer;
}

.generate {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.generate p {
    color: rgb(255, 255, 255);
    margin: 0;
}

.loading {
    opacity: 0.7;
    cursor: default;
}

.badge-container {
    display: flex;
    bottom: 20px;
    flex: 0 0 auto;
    height: auto;
    left: 20px;
    position: fixed;
    width: auto;
    z-index: 1;
}

.badge-container a {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.392);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 54.3478% / 238.095%;
    filter: grayscale(1);
    transform: none;
    transform-origin: 50% 50% 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1em;
    color: #fff;
    padding: 6px;
    text-decoration: none;
}

.badge {
    display: flex;
    align-items: center;
}

.badge img {
    width:70px;
    height: auto;
    image-rendering: pixelated;
    flex-shrink: 0;
    fill: black;
    color: black;
    transform: none;
    transform-origin: 50% 50% 0px;
    padding-right: 5px;
}

.badge p {
    margin: 0;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.output-content {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    transform: none;
}

.output-content img {
    border-radius: 16px;
    margin-left: 20px;
}

.output-content p {
    text-align: center;
    font-weight: bold;
    white-space: pre-line;
    color: white;
}

.examples{
    justify-content: center;
    text-align: center; 
    padding: 50px;   
}
.example{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.example img {
    border-radius: 16px;
    margin: 0px 20px;
}
.example p {
    text-align: center;
    font-style: italic ;
    white-space: pre-line;
    color: white;
    font-size: 25px;
}

.bot{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.bot p{
    color: white;
}

.bot:hover{
    transform: translate(0, -10px);
}

.return{
    cursor: pointer;
    color: white;
}

.return:hover p{
    transform: translate(0, -10px);
}
.return:hover .iconf{
    transform: translate(0, -10px);
}

.message{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.641);
    font-style: italic;
    
}

.mt{
    
    color: #F32E98;
    font-style: oblique;
}
.mt p{
    margin-top: 100px;
}

@media (max-width: 1000px) {
    .main{
        
        background-image: url('/images/darkimg.png');
        background-size: cover;
    }
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .output-content{
        justify-content: center;
        width: 80%;
    }

    .output-content img {
        border-radius: 16px;
        height: auto;
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }
    .header-title h1 {
        font-size: 50px;
    }

    .header-subtitle h2 {
        text-align: center;
    }

    .prompt-buttons {
        justify-content: center;
    }

    .prompt-container {
        max-width: 400px;
        width: 100%;
    }

    .prompt-box {
        width: 80%;
    }
    .example{
        flex-direction: column ;
    }

    .example img {
        width: 100%;
        height: auto;
        margin: 20px 0px;
    }
    .badge img {
        width:20px;
        
    }
    .bot{
        position: static;
    }
    
}



/* Loading ring animation */
.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}